/*Home Exclusive css*/
.homeHeader {
    color: #2e1572;
    font-size: 18px;
    margin-top: 48px;
    text-align: center;
}

.homeNext {
    margin-right: 0px !important;
    margin-top: 72px;
}

.selectionHeader {
    color: #008db1;
    font-size: 48px;
    text-align: center;
}

#doctorContainer {
    margin-top: 48px;
}