/*Shared css*/
html,
body {
    background-image: url("../images/background-transparent.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    margin: 0;
}

div {
    width: 100%;
}

form {
    width: 100%;
}

li {
    cursor: pointer;
}

p {
    width: 100%;
}

/*CSS ID*/
#previousPageButton {
    margin-left: 48px;
}

#previousStepButton {
    margin-left: 48px;
}

#nextPageButton {
    margin-right: 48px;
}

#nextStepButton {
    margin-right: 48px;
}

/*CSS Class*/
.alignSelfCenter{
    align-content: center !important;
}

.centerContent {
    justify-content: center;
}

.centerText {
    text-align: center;
}

.centerContent {
    justify-content: center;
}

.dropdown-menu.show {
    width: auto;
}

.endContent {
    justify-content: flex-end;
}

.flex {
    display: flex;
}

.flex-column {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.footerBanner {
    align-items: center;
    background: #c9f1fd;
    border-top: #d4e3fc solid 5px;
    bottom: 0;
    color: #1c0c4f;
    font-size: 12px;
    left: 0;
    height: 5%;
    justify-content: center;
    padding-bottom: 8px;
    padding-top: 8px;
    text-align: center;
    position: fixed;
    width: 100%;
}

.headerBanner {
    align-items: flex-end;
    background: #c9f1fd;
    border-bottom: #d4e3fc solid 5px;
    color: #1c0c4f;
    font-size: 60px;
    height: 10%;
    justify-content: center;
    padding-bottom: 8px;
    padding-top: 8px;
    text-align: center;
}

.hidden {
    display: none !important;
}

.page-content {
    align-content: space-between;
    flex-wrap: wrap;
}

