/*Information Exclusive css*/
.changePageContainer {
   display: flex;
   justify-content: space-between;
}

.informationContainer {
    background-color: #d6e3fd;
    border: black solid 1px;
    margin-top: 32px;
    margin-left: 48px;
    margin-right: 48px;
}

.informationHeader {
    color: #150547;
    font-size: 24px;
    text-align: center;
}